<div class="container-fluid" style="background-color:#FFFFFF; height:50px;">
        <div class="col-md-6" style="background-color: #783377;">
            <h2 class="" style="margin: 10px 0 10px 0 !important;  color: rgb(255, 255, 255) !important;">
                Citas
            </h2>
        </div>
        <div class="col-md-4">  <button class="btn btn-success" style="float: right;">Nueva Cita </button></div>
    </div>
    <br />
    <form>
        <div class="form-group">
            <div class="row" style="background-color:#F4F7F9; height: 50px;">
                <div class="col-md-7">
                    <input type="text" placeholder="Buscar" name="searchString" class="form-control form-control-sm" />
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Buscar
                    </button>
                </div>
            </div>
        </div>
    </form>
    <br />
    <div class="container-fluid" style="background-color:#FFFFFF; height: 750px;">
        <hr />
        <table class="table-responsive table-hover">
            <tr>
                <td>[CD8245] USUARIO 1</td>
                <td>Especialidad</td>
                <td>Dia:21/Septiembre/2018</td>
                <td style="width:7%; padding-right:5px"><button type="button" class="btn btn-primary">Re-Agendar</button></td>
            </tr>
        </table>
    </div>

