/*
input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray
}*/
input[type=text],
select{
	border-radius: 0;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, .12);
	/*El valor original era 400*/
	font: 400 15px/18px Roboto, sans-serif;
	box-shadow: inset 0 -1px 0 transparent;
	box-sizing: border-box;
	padding: 12px 4px;
	background: 0 0;
	width: 100%;
	display: block
}

	
/* input:focus {
        border-color: black
    }*/


.form-group {
	position: relative;
	margin-bottom: 1.5rem;
}

.form-control-placeholder {
	position: absolute;
	top: 0;
	padding: 7px 0 0 13px;
	transition: all 200ms;
	
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
	
	transform: translate3d(0, -100%, 0);
	opacity: 1;
}






    