<div class="container-fluid" style="background-color:#FFFFFF; height:50px;">
    <div class="col-md-6" style="background-color: #783377;">
        <h2 class="" style="margin: 10px 0 10px 0 !important;  color: rgb(255, 255, 255) !important;">
            CAJA
        </h2>
   </div>
    </div>
<br />
<form>
    <div class="form-group">
        <div class="row" style="background-color:#F4F7F9; height: 50px;">
            <div class="col-md-7">
                <input type="text" placeholder="Buscar" name="searchString" class="form-control form-control-sm" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Buscar
                </button>
            </div>
        </div>
    </div>
</form>
<br />
<div class="container-fluid" style="background-color:#FFFFFF; height: 750px;">
    <hr />
    <table class="table-responsive table-hover">
        <tr>
            <td>[CD8245] USUARIO 1</td>
            <td>Especialidad</td>
            <td>Dia:21/Septiembre/2018</td>
            <td style="width:7%; padding-right:5px">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#caja">
                    Cobrar
                </button>
            </td>
        </tr>
    </table>
  
</div>


<div class="modal fade" id="caja" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Conceptos de Cobro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th scope="col">Servicio</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Importe</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Cambio de Corazon</td>
                                    <td>31/07/18</td>
                                    <td>$50</td>
                                </tr>
                                <tr>

                                    <td>Cambio de Corazon</td>
                                    <td>31/07/18</td>
                                    <td>$50</td>
                                </tr>
                                <tr>

                                    <td>Cambio de Corazon</td>
                                    <td>31/07/18</td>
                                    <td>$50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-2"><label>Total</label></div>
                        <div class="col-md-4 ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

                            </div>
                        </div>

                    </div>
                    <button type="button" class="btn btn-primary">Abonar</button>
              

                    <div class="row">
                        <div class="col-md-8 ">
                            <div class="col-md-12"><label>Forma de pago</label></div>
                            <div>
                                <div class="col-md-4"><input type="radio" name="optradio" value="1">Efectivo</div>
                                <div class="col-md-6">
                                <input onchange="return mostrarOcultar('oculto')" type="radio" name="optradio" value="0" >Tarjeta de Credito/Debito</div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row" style="display:none" id="oculto">
                <div class="col-md-6 ">
                    <label for="Select1">Tipo de Tarjeta:</label>
                    <select class="form-control" id="Select1">
                        <option>Visa</option>
                        <option>MasterCard</option>
                        
                    </select>
                </div>
            
                <div class="col-md-12 ">
                    <div>
                        <input type="text" class="form-control" aria-label="Username" placeholder="Nombre del titular de tarjeta" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div>
                        <input type="text" class="form-control" aria-label="Username" placeholder="Numero de Tarjeta" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div>
                        <input type="text" class="form-control" id="expirationDate"
                               name="expirationDate" required="required" aria-required="true" value=""
                               placeholder="Vencimiento (MM/AA)" autocomplete="off" dir="ltr" pattern="(0[1-9]|1[012])[/]((20)[0-9]{2}|[0-9]{2})"
                               maxlength="7" aria-invalid="false">
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <input type="text" class="form-control" aria-label="Username" placeholder="CSC (3 digitos)" required="required" maxlength="3" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Pagar</button>

                </div>
            </div>
    </div>
    <script>
        
        function mostrarOcultar(id) {
            var elemento = document.getElementById(id);
            if (!elemento) {
                return true;
            }
            if (elemento.style.display == "none") {
                elemento.style.display = "block"
            } else {
                elemento.style.display = "none"
           
            };
            return true;

        };
        
    </script>
   
